<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.1.94" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net48" />
  <package id="MaterialDesignThemes.Wpf" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.6.0-preview3.19128.7" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
</packages>